@{
    ViewBag.Title = "File upload";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="body">
    <form name="form1" method="post" action="../api/file" enctype="multipart/form-data">
        <div>
            <label>
                Browse File
            </label>
            <input name="myFile" type="file" />
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>
