<div class="jumbotron">
    <h1>Benvenuti in KmovieS</h1>
    <p class="lead">KmovieS è una piattaforma di servizi dove possono essere acquistati crediti per produrre filmati 360° e spin a partire dalle immagini scattate del vostro veicolo.</p>
    <p>Questa piattaforma è di proprietà di <a href="http://www.spekno.com">SpeKno s.r.l.</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Come iniziare</h2>
        <p>Installare l'app KarmaN da play store o KarmaN Desktop dal sito <a href="http://www.spekno.com/prodotti/karman">www.spekno.com</a></p>
    </div>
    <div class="col-md-6">
        <h2>Aiuto</h2>
        <p>Per maggiori informazioni: <a href="http://www.spekno.com/prodotti/interni-360">interni 360°</a></p>
    </div>
</div>
