<div class="jumbotron">
    <h1>Welcome to KmovieS</h1>
    <p class="lead">KmovieS is a platform where you can buy credits to produce you 360° movies from vehicle pictures.</p>
    <p>powered by <a href="http://www.spekno.com">SpeKno s.r.l.</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Install KarmaN app from mobile store or KarmaN Desktop from <a href="http://www.spekno.com">www.spekno.com</a>.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
