@{
    ViewBag.Title = "Who we are";
    ViewBag.Message = "Spekno - Innovation Technology";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Spekno is against COVID-19</p>

<address>Spekno s.r.l. - VAT: 03941310405</address>
