@{
    ViewBag.Title = "Contacts";
    ViewBag.Message = "Address";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Spekno s.r.l.<br />
    Via Petrosa, 1<br />
    47122 Forlì (FC)<br />
    Phone: +390544553221<br />
</address>

<address>
    <strong>Support:</strong><a href="mailto:info@spekno.com">info@spekno.com</a><br />
</address>