@{
    ViewBag.Title = "Contatti";
    ViewBag.Message = "Inidirizzi e contatti";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Spekno s.r.l.<br />
    Via Petrosa, 1<br />
    47122 Forlì (FC)<br />
    Telefono: +390544553221<br />
    Fax: +3905431791184<br />
</address>

<address>
    <strong>Supporto:</strong><a href="mailto:info@spekno.eu">info@spekno.eu</a><br />
</address>