<div class="jumbotron">
    <h1>Welcome on T2</h1>
    <p class="lead">T2 platform was built to Mitigate fake News</p>
    <p>T2 is created by <a href="http://www.spekno.com">SpeKno s.r.l.</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Help</h2>
        <p>For more informations send us an-email : <a href="mailto:info@spekno.com">Spekno</a></p>
    </div>
</div>
