@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link text-dark", title = "Gestione account" })
        </li>
        <li class="nav-item">
            <a class = "nav-link text-dark" href="javascript:document.getElementById('logoutForm').submit()">Disconnettiti</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Registrati", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link text-dark" })</li>
        <li class="nav-item">@Html.ActionLink("Accedi", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link text-dark" })</li>
    </ul>
}
